<div class="container indubitablyman  text-center tooltip-wrap">
    <img class="w-33" src="/images/indubitablyman.tiff"  alt="">
    <img class= "bubble"src="/images/Bubble.png">
    <footer class="footer container indubitablyman text-center">
        <span>Copyright &copy; 2021 Indubitably Jobs Co.</span>
    </footer>
</div>


