<div class="pre-footer">

</div>

<div class="indubitablyman  text-center tooltip-wrap">
    <img class="w-33" src="/images/indubitablyman.png"  alt="">
    <img class= "bubble"src="/images/Bubble.png">
    <footer class="footer container-fluid indubitablyman text-center">
        <div class="container container-fluid" >
            <span>Copyright &copy; 2021 Indubitably Jobs Co.</span>
            <div class="pre-footer"></div>
            <span>Chris H, Tyler L, Suvd-Erdene T, Todd T</span>
        </div>
    </footer>
</div>


