
    <!-- Navbar content -->
    <div>
        <nav class="navbar navbar-expand-md" style="background-color: #FBE90F;">
            <div class="left-container container-fluid col-6">
                <a href="/">
                    <img src="/images/indubitably.png" alt="logo" class="logo">
                </a>
                
            </div>
            <div class=" right-container container-fluid col-6">
                <% if (typeof user !== 'undefined' && typeof user !=='null') {  %>
                    <a class="navbar-link profile tooltip-wrap" href="/users/logout">
                        <img src="/images/LOGOUT2.png" alt="logout" class="logout img-fluid navbar-text"><%= user.firstName %>
                        <div class="tooltip-content navbar-text">
                            <p>Logout</p>
                        </div> 
                    </a>
                    <div class="pre-footer"></div>
                    <a class="navbar-link tooltip-wrap navbar-text" href="/users/favorites">
                        Favorites
                        <div class="tooltip-content navbar-text">
                            <p>Visit</p>
                        </div>
                    </a>
                <% } else {     %>
                    <a class="navbar-link profile" href="/users/register">Sign In</a>
                <% }            %>
            </div>
        </nav> <!-- navbar end -->
    </div>
    <div class="container-fluid header col-12">
        <h5 class="header-text text-center col-12">
            Unemployed? Want A Job? Need Help To Find One?
        </h5>
        <h5 class="header-text text-center col-12">
            INDUBITABLY!
        </h5>
    </div>