
    <!-- Navbar content -->
    <div>
        <nav class="navbar navbar-expand-md" style="background-color: #FBE90F;">
            <div class="left-container container-fluid col-6">
                <a href="/">
                    <img src="/images/indubitably.png" alt="logo" class="logo">
                </a>
                
            </div>
            <div class=" right-container container-fluid col-6">
                <% if (user) {  %>
                    <a class="navbar-link profile tooltip-wrap" href="/">
                        <img src="/images/LOGOUT2.png" alt="logout" class="logout img-fluid "><%= user%>
                        <div class="tooltip-content">
                            <p>Logout</p>
                        </div> 
                    </a>
                    <a class="navbar-link tooltip-wrap" href="/users/favorites">
                        Favorites
                        <div class="tooltip-content">
                            <p>Visit</p>
                        </div>
                    </a>
                <% } else {     %>
                    <a class="navbar-link profile" href="/users/register">Sign In</a>
                <% }            %>
            </div>
        </nav> <!-- navbar end -->
    </div>
    <div class="container-fluid header col-12">
        <h5 class="header-text col-12">
            Unemployed? Want A Job? Need Help To Find One?
        </h5>
        <h5 class="header-text col-12">
            INDUBITABLY!
        </h5>
    </div>

    <div class="container-fluid col-12">
        <form id="searchform" class="form-inline col-11">
            <div class="what input-group mb-4">
                <span class="what input-group-text" id="what">What</span>
                <input type="text" class=" w-60 form-control what-form" placeholder="Job title, keywords, or company"
                    aria-label="what" aria-describedby="basic-addon1">
            </div>
            <div class="where input-group mb-4">
                <button class=" btn btn-outline-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" onclick="">Where</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">New York</a></li>
                    <li><a class="dropdown-item" href="#">California</a></li>
                    <li><a class="dropdown-item" href="#">Georgia</a></li>
                </ul>
            </div>
            <div>
                <button type="submit" class="btn btn-primary col-2 ">Find Jobs</button>
            </div>
        </form>
    </div>