<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body>
    

    <!-- render favorites.forEach as shown in AppleCEO below-->
    <div class="container">
        <div class="row">
            <div class="col-12 header text-center">
                <h2 class="display-2">INDUBITABLY</h2>
                <h3 class="header2">Welcome To Your Favorites</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 favjobs" id='favjobs'>
        <!-- Favorite Jobs SHOW UP HERE! -->

            

        </div>
    </div>



    
</body>
</html>