<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/nav') -%>
    <!-- Search Pills need to be linked to appropriate searches -->
    <div class="jobsearch col-8 text-mute text-center">Popular Searches
        <div class="jobsearch-SuggestedSearches-pill">
            <ul class="nav nav-pills">
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Software Developer" href="/jobs/search?search=Software%20Developer">Software Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Frontend Developer" href="/jobs/search?search=Frontend%20Developer">Frontend Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Software Engineer" href="/jobs/search?search=Software%20Engineer">Software Engineer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Jr-Full-Stack Developer" href="/jobs/search?search=Jr-Full-Stack%20Developer">Jr-Full-Stack Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Frontend Engineer" href="/jobs/search?search=Frontend%20Engineer">Frontend Engineer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Web Developer" href="/jobs/search?search=Web%20Developer">Web Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Backend Developer" href="/jobs/search?search=Backend%20Developer">Backend Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Full-Stack Developer" href="/jobs/search?search=Full-Stack%20Developer">Full-Stack Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="React Developer" href="/jobs/search?search=React%20Developer">React Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Full-Stack Engineer" href="/jobs/search?search=Full-Stack%20Engineer">Full-Stack Engineer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Backend Engineer" href="/jobs/search?search=Backend%20Engineer">Backend Engineer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link search-button" data-searchinput="Jr-Full-Stack Engineer" href="/jobs/search?search=Jr-Full-Stack%20Engineer">Jr-Full-Stack Engineer</a>
                </li>
                
            </ul>
        </div>
    </div>

    <%- include('partials/footer') -%>
</body>

</html>