<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/nav') -%>

    <div class="jobsearch col-8">Suggested Searches
        <div class="jobsearch-SuggestedSearches-pill">
            <ul class="nav nav-pills">
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Software Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Frontend Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Software Engineer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Frontend Engineer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Web Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Backend Developer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Full-Stack Developer</a>
                </li>

                <li class="nav-item pill">
                    <a class="nav-link" href="#">React Developer</a>
                </li>

                <li class="nav-item pill">
                    <a class="nav-link" href="#">Full-Stack Engineer</a>
                </li>
                <li class="nav-item pill">
                    <a class="nav-link" href="#">Backend Engineer</a>
                </li>



            </ul>
        </div>
    </div>
</body>

</html>