<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('partials/head') %>
</head>

  <body>
    <%-include('partials/header') %>
    <div class="container flex-box text-center">
      <br>
      
        <form action="/users/register" method="POST" id="register">
          <fieldset>
            <legend>Register Now!</legend>
            <p>
              <label for="firstName">First Name</label><br>
              <input type="text" id="firstName" name="firstName" value="" min="0" max="20"><br>
            </p>
            <p>
              <label for="lastName">Last Name</label><br>
              <input type="text" id="lastName" name="lastName" value="" min="0" max="20"><br>
            </p>
            <p>
              <label for="email">E-mail</label><br>
              <input type="text" id="email1" name="email" value="" autocomplete="username" min="5" max="30"><br>
            </p>
            <p>
              <label for="password">Password</label><br>
            <input type="password" id="password1" name="password" value="" autocomplete="current-password" min="7" max="30"><br><br>
            </p>
            <p>
              <input type="submit" value="Register">
            </p>
          </fieldset>
        </form>
        <br>
        <form action="/users/login" method="POST" id="sign-in">
          <fieldset>
            <legend>Or Sign In</legend>
            <label for="email">E-mail</label><br>
            <input type="text" id="email2" name="email" value="" autocomplete="username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password2" name="password" value="" autocomplete="current-password"><br><br>
            <input type="submit" value="Sign In">
          </fieldset>
        </form>
    </div>

    <%-include('partials/footer') %>
  </body>

</html>